
<ion-content>

  <ion-card-header>
    <div class="head">
      <h3>Sign Up</h3>
      <h1>Create Your account by filling up the form</h1>
  
  </div>
</ion-card-header>
<ion-card-content>
<div class="wrapform">
  <ion-item> 
    <ion-icon name="person-outline"></ion-icon>
    <ion-input  type="text" name="name" placeholder="FullName"></ion-input>
  </ion-item>
  <ion-item> 
    <ion-icon name="call-outline"></ion-icon>
    <ion-input type="text" name="email" placeholder="Phone No."></ion-input>
  </ion-item>
  <ion-item> 
    <ion-icon name="mail-outline"></ion-icon>
    <ion-input type="text" name="name" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item> 
    <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-input type="text" name="password" placeholder="Password"></ion-input>
  </ion-item>
</div>



</ion-card-content>

<div class="sign-btn-wrap">
  <ion-button color="light" shape="round" fill="solid" class="sign-btn" (click)="login()">Login</ion-button>

</div>


</ion-content>
